

body {
  padding: 20px;
  padding-right: 10px;
  background-color: #C0B9B7;
}

h1 {
  text-align: center;
}

.sidebar {
  float: left;
  width: 10%;
  background-color: #a3a3c2;
  font-size: 25px;
  border: solid;
  border-width: medium;
  margin: 25px;
  margin-left: auto;
  padding: 30px;

}
.master {
  margin-top: 150px;
}


img {
  float: right;
  border: solid;
  border-width: medium;
}


.column {
  float: left;
  width: 30%;
  padding: 5px;

}
